body {
    text-align: center;
    color: black;
    background-color: #fcfaf6;
}

.header {
    border-radius: 50px;
    background: url(../materials/hoadao.jpg) center no-repeat fixed;
    background-size: cover;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
    text-align: right;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

.big-heading {
    font-family: "Protest Guerrilla";
    font-weight: 400;
    font-size: 3.5rem;
}

.title-image {
    width: 280px;
}

.goto2-buttons{
    margin-bottom: 30px;
}

.download {
    border-radius: 8px;
    position: relative;
    left: 160px;
    display: block;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;
    width: 300px;
    border: none;
    background-color: #fcfaf6;
    color: black;
    transition: 0.2s;
    font-size: large;
}

.dl {
    text-decoration: none;
}

.download:hover {
    background-color: gray;
    color: black;
}

.download-buttons{
    border: none;
    background-color: #f6efe3;
}

h2 {
    position: relative;
    margin-bottom: 20px;
    left: 0px;
    margin-top: 50px;
    transition: 0.4s;
}

h4 {
    position: relative;
    margin-bottom: 20px;
    left: 0px;
    margin-top: 50px;
}

.search {
    position: relative;
    padding: 50px;
}

@media only screen and (min-width: 1024px) {
    h2 {
        width: 480px;
        position: relative;
        margin-bottom: 20px;
        margin-top: 50px;
        left: 100px;
        transition: 0.4s;
    }

    h4 {
        width: 300px;
        position: relative;
        margin-bottom: 0px;
        margin-top: 50px;
        left: 100px;
    }

    .search {
        position: relative;
        margin-top: 0px;
        left: 120px;
        width: 45%;
    }

    .p_update {
        width: 450px;
        position: relative;
        margin-bottom: 20px;
        left: 70px;
        margin-top: 20px;
    }
}

h2:hover {
    color: #62BA1B;
    text-decoration: underline;
    text-decoration-color: #62BA1B;
    cursor: pointer;
}

.content1 {
    height: 400px;
    width: 320px;
    padding: 20px;
    position: relative;
    background-color: #f6efe3;
    text-align: center;
    border-radius: 20px;
}

.content1 p {
    margin-bottom: 10px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
    height: 150px;
    transition: 0.15s;
}

img:hover{
    scale: 150%;
}

.p_update {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.electric {
    width: 400px;
}

.product {
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.end {
    margin-top: 50px;
    width: 70%;
    border-radius: 50px;
    background-color: #9A7C4F;
}

.icon {
    color: black;
    font-size: 25px;
    transition: 0.1s;
}

.icon:hover {
    color: gray;
    scale: 150%;
}

.icon1 {
    margin-left: 20px;
    color: black;
    font-size: 25px;
    transition: 0.1s;
}

.icon1:hover {
    color: gray;
    scale: 150%;
}

h5{
    margin-top: 10px;
}